// my imports

@import "media";

// General coding

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include responsive(tablet-p) {
    font-size: 60%;
  }
  @include responsive(tablet) {
    font-size: 56%;
  }
  @include responsive(phone) {
    font-size: 55%;
  }
}

// variables setting

$main-color: #9b009d;

body {
  font-family: "Lato", sans-serif;

  a {
    text-decoration: none;
  }
}

// Styling of the head
.top-nav-wrap {
  background-color: $main-color;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;

  .top-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-right: 30vw;
    text-align: center;

    @include responsive(tablet) {
      margin-right: 15vw;
    }

    input {
      margin-left: 1rem;
    }
    p {
      color: #fff;
      display: inline-block;
    }

    .top-nav-btn {
      padding: 1rem 2rem;
      color: #0fedd7;
      background-color: #00e173;
      border-radius: 3px;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  border: 1px solid rgb(197, 197, 197);
  margin-bottom: 5rem;
  @include responsive(phone) {
    flex-direction: column;
  }
  .main-nav-logo {
    width: 20rem;
    @include responsive(tablet-p) {
      width: 15rem;
    }
    @include responsive(tablet) {
      width: 10rem;
    }
  }
  .coworking-nav {
    width: 20%;
    font-size: 1.6rem;
    color: #363636;

    @include responsive(tablet-p) {
      font-size: 1.4rem;
      width: 10%;
    }
    @include responsive(phone) {
      align-self: flex-start;
    }
  }
  .main-nav {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    @include responsive(phone) {
      width: 100%;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
      padding: 5rem 0;
    }
    a {
      color: #363636;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 2rem;
  line-height: 2.4rem;
  color: #4c4c67;
  width: 80%;
  margin: auto;

  ul {
    li::marker {
      color: $main-color;
    }
  }

  .titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    hr {
      width: 5%;
    }
  }

  .last {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      padding-bottom: 2rem;
    }
  }
}

footer {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  .footer-nav {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .footer-btn {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .icon {
      padding: 1rem;
      border: 1px solid #fff;
      border-radius: 50%;
    }

    a {
      color: #fff;
      font-size: 1.2rem;
    }
  }

  .footer-logo {
    width: 20rem;
  }

  p {
    color: #4a4742;
    padding-bottom: 3rem;
  }
}
